preffix = "my-example"
tags = {
  "owner" : "cloud-team"
  "user" : "crodriguezlopez"
  "environment" : "demo"
  "tf:repo" : "https://github.com/carlosrodlop/terraform-lib"
  "tf:folder" : "clouds/aws"
}
