domain_name        = "example.com"
preffix            = "my-resources-prefix"
kubernetes_version = "1.24"
key_name           = "my-key-pair-name"
enable_bastion_host  = true
subnet_id_bastion = ""
create_acm = true
create_efs = false
vpc_id = ""
subnet_id_list_eks = []
